.InfoSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.ProfileImage{
    width: 30vw;
    height: auto;
    margin: 2rem;
}

@media (max-width: 900px) {
    .InfoSection{
        flex-direction: column;
    }
    
    .ProfileImage{
        width: 80%;
        height: auto;
        margin: 0rem;
    }
}